html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  @extend %rubik-400;
  color: $default;
  font-size: 16px;
  line-height: 1.8;
  background-color: #fff;
}

.main {
  flex-grow: 1;
}

a {
  color: inherit;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
}

.container--small {
  max-width: 1200px;
}

.uppercase {
  text-transform: uppercase;
}